body{
    background-color: aqua;
}

section form{
    display: flex;
    flex-flow: column;
}

form{
    text-align: center;
    display: flex;
    flex-flow: column;
    margin-left: 30%;
    margin-right: 35%;
}

p {
    font-size: large;
    text-align: center;
}

footer p{
    text-align: left;
}

section input{
    width: 50em;
    height: 5em;
}

input, label{
    margin-bottom: 1em;
}